body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange_color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 5px;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 400px;
    background-color: orange;
    padding:10px 40px;
    border-radius: 5px;

}