body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange_color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left: 5px;
    
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 400px;
    background-color: orange;
    padding:10px 40px;
    border-radius: 5px;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    box-shadow: 10px 10px 40px gray;
    
   
}
#web-dev1{
    border-left:  7px solid;
    border-image: linear-gradient(tomato ,salmon);
    border-image-slice: 1;

    
}
#web-dev2{
    border-left:  7px solid;
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;

    
}
footer p{
    text-align: center;
}
#txt{
    text-align: center;
}